<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>digging-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,12},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,24},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,36},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,48},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,60},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,72},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>digging-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{0,84},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,96},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,106},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,116},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,126},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fall-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,136},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{0,146},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{0,160},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{0,174},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,14}</string>
                <key>spriteSourceSize</key>
                <string>{10,14}</string>
                <key>textureRect</key>
                <string>{{0,188},{10,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{0,202},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{0,217},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{0,232},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>parachute-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{0,247},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,262},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,272},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,282},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,292},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,302},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,312},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,322},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,332},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walk-0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{0,342},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lemmings.png</string>
            <key>size</key>
            <string>{12,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0c4dee51a1b6fb9a626b8efa4e9800c:a9e984e4148194ce442504ceb591be96:88ab09b251cb682b789df6fd09f6f023$</string>
            <key>textureFileName</key>
            <string>lemmings.png</string>
        </dict>
    </dict>
</plist>
