<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lemmings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,710}</string>
                <key>spriteSourceSize</key>
                <string>{437,710}</string>
                <key>textureRect</key>
                <string>{{1,1},{437,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lemmings.png</string>
            <key>size</key>
            <string>{439,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f483e387ad88f67f8a1bdded14bc0a:4a4c5d93c010935df84d2623611f7aae:88ab09b251cb682b789df6fd09f6f023$</string>
            <key>textureFileName</key>
            <string>lemmings.png</string>
        </dict>
    </dict>
</plist>
